div {
  width: 100px;
  height: 100px;
  border-style: outset;
  background-image: url(http://www.staggeringbeauty.com/assets/poster.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

div a {
  color:blue;
}

div:hover {
  border-style: inset;
  background-image: url(http://49.media.tumblr.com/tumblr_m8syifUdOn1r3kpv0o1_500.gif);
  background-size: cover;
}

div:hover a {
  color:hotpink;
}
